<!doctype html>
<title>Movie Recommendation</title>
<body>

	<h1> Movie Recommendation</h1>
    <form action="/recc" method="post">
	<input type="text" name="gender" placeholder = "Gender"/>
    <input type = "text" name = "age" placeholder = "Age" />
    <input type = "text" name = "occ" placeholder = "Occupation"/>
    <input type = "text" name = "zip" placeholder = "Zipcode" />
    <input type="submit" value="Submit"/>
    </form>
    <form action="/reset" method="post">
        <input type="submit" value="Reset"/>
    </form>
   {% for item in content %}
       <p> {{ item }} </p>
   {% endfor %}

   <div class = "row">
        <div class = "column">
            <h1> Movies with Least Amount of Ratings </h1>
            {% for item in data1 %}
                <p> {{ item }} </p>
            {% endfor %}
        </div>
        <div class = "column">
            <h1> Movies with Most Amount of Ratings </h1>
                {% for item in data2 %}
                    <p> {{ item }} </p>
                {% endfor %}
        </div>
    </div>

   <style>
           .column {
          float: left;
          width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

    </style>
</body>