<!doctype html>
<title>Movie Recommendation</title>
<body>

	<h1> Movie Recommendation Linear Regression Model </h1>
    <form action="/lr" method="post">
	    <input type="text" name="gender" placeholder = "Gender"/>
        <input type = "text" name = "age" placeholder = "Age" />
        <input type = "text" name = "occ" placeholder = "Occupation"/>
        <input type = "text" name = "zip" placeholder = "Zipcode" />
        <input type="submit" value="Submit"/>
    </form>
    <form action="/reset" method="post">
        <input type="submit" value="Reset"/>
    </form>
   {% for item in content %}
       <p> {{ item }} </p>
   {% endfor %}

   <h1> Movie Recommendation Neural Network Model </h1>
   <p> Please rate the following movies from 1-5 stars. If you've never watched the movie, choose n/a. </p>
   <div class = "row">
        <div class = "column">
            <form action="/nn" method="post">
                {% for item in data %}
                   <p> {{ item }}
                        <select name="{{ "stars" ~ loop.index}}">
                            <option value = "n/a"> N/A </option>
                            <option value = "1"> 1 </option>
                            <option value = "2"> 2 </option>
                            <option value = "3"> 3 </option>
                            <option value = "4"> 4 </option>
                            <option value = "5"> 5 </option>
                        </select> 
                    </p>  
                {% endfor %}
                <input type="submit" value="Submit"/>
            </form>
            <form action="/reset2" method ="post">
                <input type="submit" value="Reset"/>
            </form>
            {% for item in recc %}
                <p> {{ item }} </p>
            {% endfor %}
        </div>
    </div>

   <style>
           .column {
          float: left;
          width: 20%;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

    </style>
</body>